* {

  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #333;
}

.fondop {

  background-image: url('fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.principal {
  position: relative;
  font-family: 'Segoe UI';
  list-style-type: none;
  width: auto;
  height: auto;
  border: 1px solid black;
  overflow-x: hidden;


}

.container1 {
  padding-left: 30px
}

.barra {
  color: rgb(0, 0, 0);
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

h1 {
  font-size: 28px;
}

.navbar {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
}

.h {
  color: rgb(111, 174, 48);
}

.navbar div p {
  margin: 0;
  font-weight: bold;
  cursor: pointer;
}

.iconos {
  position: relative;
  display: flex;
  gap: 10px;
  left: -60px;
  align-items: center;
}

.icono {
  position: relative;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  padding: 10px;
  left: -20px;
  font-size: 16px;
  cursor: pointer;
}

.signup {
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}


.div {
  padding: 15px 35px;
  border-radius: 30px;
  border: solid 1px rgb(188, 225, 77);
  background-color: rgb(111, 174, 48);
  color: white;
  font-size: 16px;
  text-align: center;
  margin-right: 20px;
}


b {
  padding: 10px;
}



.container2 {
  padding-left: 80px
}



.hungry {
  position: relative;
  top: 40px;
  padding: 5px 20px;
  border-radius: 40px;
  border: solid 1px black;
  background-color: rgba(254, 255, 253, 0);
  color: rgb(0, 0, 0);
  font-size: 15px;

}


h2 {
  font-size: 80px;
}

.imgc {
  position: absolute;
  top: 130px;
  right: 20px;
}

.imgc img {
  width: 600px;
  max-width: 90%;
}


h3 {
  color: rgb(128, 128, 128);
  font-size: 15px;
  font-weight: normal;
  font-family: sans-serif;
}

h4 {
  font-size: 25px;
}

.textosm {
  color: #666;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 17px;
  line-height: 1.5;
  margin-top: 10px;
  padding: 0 10px;
}


.bot1 {
  padding: 15px 35px;
  border-radius: 30px;
  border: solid 1px rgb(188, 225, 77);
  background-color: rgb(111, 174, 48);
  color: white;
  font-size: 16px;
  text-align: center;
  margin-right: 20px;
}

.bot2 {
  padding: 15px 25px;
  border-radius: 30px;
  border: solid 1px black;
  background-color: rgba(254, 255, 253, 0);
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-left: 20px;
}

.menus {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 45px;
  row-gap: 40px;
  max-width: 1200px;
  margin-top: 60px;
  margin-left: 75px;
  margin-right: auto;
  padding-bottom: 5px;
  min-height: 500px;
  height: auto;
}


.proyecto1,
.proyecto2,
.proyecto3,
.proyecto4 {
  padding-top: 10px;
  width: 280px;
  min-height: 440px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 50px 60px rgba(0, 0, 0, 0.158);
  background-color: white;
  font-size: 30px;
  text-align: center;
}




.precio {
  position: relative;
  padding: 7px 16px;
  border-radius: 20px;
  border: solid 1px black;
  background-color: #ffffff00;
  color: rgb(0, 0, 0);
  width: 100px;
  font-size: 18px;
  text-align: center;
  top: 20px;
}

.buy {
  position: relative;
  top: 20px;
  padding: 7px 16px;
  border-radius: 20px;
  border: solid 1px #bce14d;
  background-color: #6fae30;
  color: white;
  width: 100px;
  font-size: 18px;
  text-align: center;
}

.container3 {
  padding-top: 100px;
  margin-bottom: -120px;
}

h5 {
  font-size: 60px;
  text-align: center;
}



h6 {
  position: relative;
  top: -60px;
  color: rgb(128, 128, 128);
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;

}


.container4 {
  padding: 60px 20px;
}


.final {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}


.cu1,
.cu2,
.cu3 {
  background-color: #fff;
  width: 300px;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.257);
}

.cu1:hover,
.cu2:hover,
.cu3:hover {
  transform: translateY(-5px);
}


.cu1 img,
.cu2 img,
.cu3 img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 15px;
}

/*Responsividad */
@media (max-width: 1809px) {

  .imgc {
    position: absolute;
    top: 130px;
    right: 20px;
  }

  .imgc img {
    width: 600px;
    max-width: 90%;
  }
}



@media (max-width: 1453px) {
  .imgc {
    position: absolute;
    top: 130px;
    right: 20px;
  }

  .imgc img {
    width: 550px;
    max-width: 90%;
  }
}



@media (max-width: 1360px) {

  .fondop {
    background-size: 1360px auto;
  }

  .imgc {
    top: 100px;
    right: 10px;
    max-width: 80%;
  }


  h2 {
    font-size: 60px;
  }


  .menus {
    grid-template-columns: repeat(2, 1fr);
    transform: none;
    left: 5px;
    justify-items: center;

  }

  .proyecto1,
  .proyecto2,
  .proyecto3,
  .proyecto4 {
    min-height: 500px;
  }

}


@media (max-width: 1200px) {}
.imgc img {
    width: 450px;
  }

@media (max-width: 1026px) {

  .fondop {
    background-size: 1026px auto;
  }


  .imgc img {
    width: 350px;
    right: 100px;
  }

  .menus {
    grid-template-columns: repeat(2, 1fr);
    transform: none;
    left: 0;
    justify-items: center;
  }

}

@media (max-width: 965px) {
  .fondop {
    background-size: 965px auto;
  }

  .navbar {
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }


  .iconos {
    margin-top: 10px;
  }

  
  .imgc img {
    width: 350px;
  }

  .imgc {
    top: 160px;
    right: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 13px;
  }

  .menus {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    column-gap: 30px;
    row-gap: 40px;
  }

  .proyecto1,
  .proyecto2,
  .proyecto3,
  .proyecto4 {
    width: 90%;
    max-width: 300px;

  }

  .bot1,
  .bot2 {
    margin: 10px 5px;
    font-size: 14px;
    padding: 12px 20px;
  }

  .container1,
  .container2 {
    padding-left: 75px;
    padding-right: 15px;
  }

  .final {
    flex-direction: column;
    align-items: center;
  }

  .cu1,
  .cu2,
  .cu3 {
    width: 90%;
    max-width: 320px;
  }
}



@media (max-width: 864px) {
  .navbar {
    position: relative;
    justify-content: center;
    text-align: center;
  }

  .hungry {
    position: relative;
    top: 40px;
  }

  .iconos {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 10px;
  }
}




@media (max-width: 768px) {

  .fondop {
    background-size: contain;
  }


  .barra {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding-right: 100px;

  }


  .iconos {
    left: 0;
    gap: 1px;
    justify-content: flex-start;
  }


  .imgc {
    position: static;
    margin-top: 20px;
   align-items: center;
  }

 

  .imgc img {
    display: block;
    width: 400px;
    max-width: 768px; 
    margin: auto 160px;
}

  .menus {
    grid-template-columns: 1fr;
    margin-top: 40px;
    padding: 0 20px;
  }

  h2 {
    font-size: 36px;
    text-align: center;
  }

  h3 {
    font-size: 14px;
    text-align: center;
  }

  .container2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .bot1,
  .bot2 {
    width: 100%;
    margin: 10px 0;
  }

  .hungry {
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 50px;

  }
}


@media (max-width: 652px) {
  .barra {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .iconos {
    position: static;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }

  .signup {
    padding: 8px 16px;
    font-size: 14px;
  }

  h1 {
    font-size: 22px;
  }
}

  .imgc {
    position: static;
    margin-top: 20px;
   align-items: center;
  }

 

  .imgc img {
    position:static;
    width: 400px;
    max-width: 768px; 
    margin: auto auto;
}

@media (max-width: 480px) {
  .fondop {
    background-size: contain;
  }



  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .signup {
    padding: 8px 14px;
    font-size: 14px;
  }

  .iconos {
    padding: 8px;
  }

  .menus {
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
    row-gap: 30px;
    column-gap: 0;
    margin-top: 30px;
    min-height: auto;
  }

  .proyecto1,
  .proyecto2,
  .proyecto3,
  .proyecto4 {
    width: 90%;
    min-height: auto;
    margin: 0 auto;
    padding: 45px 10px;
    font-size: 24px;

  }

  h5 {
    font-size: 40px;
  }

  h6 {
    font-size: 16px;
    top: -30px;
  }
}


@media (max-width: 391px) {
  .menus {
    grid-template-columns: 1fr;
    margin: 15px;
    gap: 15px;
    padding: 0 10px;
  }




  .proyecto1,
  .proyecto2,
  .proyecto3,
  .proyecto4 {
    padding: 45px auto;
    font-size: 18px;


  }
}
