body {
  margin: 0;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

.principal {
  font-family: Verdana, sans-serif;

}

header {
  background-color: #464a58;
  display: grid;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.container1 {
  background-color: #464a58;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-left: 50px;
  font-size: 15px;}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5rem;
  justify-items: center;
  padding: 100px 15px;
  
}

.proyecto1, .proyecto2, .proyecto3, .proyecto4, .proyecto5, .proyecto6 {
  width: 90%;
  height: auto;
  overflow: hidden;
  border: 2px solid #3131314c; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 0 auto; 
  padding: 10px;
  font-size: 30px;
  text-align: center;
}


.container2 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.proyectos h5 {
  text-align: center;
  font-size: 16px;
  margin: 15px 0;
}

.ver-enlace {
  font-family: Verdana, sans-serif;
  margin: 20px auto 0;
  padding: 10px 20px;  
  border-radius: 5px;
  background-color: #464a58;
  color: white;
  width: 100px;  
  font-size: 12px; 
  border: none;
  display: block;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
}

.ver-enlace:hover {
  background-color: #5a616f;
  transform: translateY(-2px);
}


@media (max-width: 768px) {
  .container1 {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
  }

  .container2 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  }

  .proyecto1, .proyecto2, .proyecto3, .proyecto4, .proyecto5, .proyecto6 {
    width: 90%; 
  }
}
